:root {
  --color1: #B2A4FF;
  --color2: #FFB4B4;
  --color3: #FFDEB4;
  --color4: #FDF7C3;
}

/* Scroll */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color1) var(--color1);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color1);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--color1);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--color1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color1);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color2);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color3);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color1);
}

header {
  margin-top: 10vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: var(--color2);
}

main {
  display: flex;
  justify-content: center;
}

#contenedor-superior {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-bottom: 5vh;
}

#contenedor-tareas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.tarea {
  display: flex;
  margin-bottom: 1vh;
  border-radius: 5vw;
  border-color: var(--color3);
  border-style: solid;
  border-width: thin;
  background-color: var(--color2);
}

textarea {
  font-family: 'Playpen Sans', cursive;
  width: 30vw;
  font-size: 1.5vw;
  resize: none;
  padding-left: 1vw;
  padding-right: 1vw;
  color: var(--color4);
  background: none;
  border: none;
}

#name {
  background-color: white;
  color: var(--color2);
  border-style: solid;
  border-radius: 5vw;
  border-width: thin;
}

#name:focus {
  outline-color: var(--color3);
}

#name::placeholder {
  color: var(--color3);
}

#agregar {
  background-color: var(--color2);
  width: 5vw;
  border-radius: 5vw;
  color: var(--color4);
  font-weight: bold;
}

#agregar:hover {
  border-color: var(--color3);
  border-style: solid;
  border-width: thin;
}

#agregar:active {
  background-color: var(--color3);
}

button {
  font-family: 'Ubuntu', sans-serif;
  width: 2.5vw;
  margin-left: 1vw;
  background: none;
  border:none;
}

button:focus {
  outline-color: var(--color3);
}

.botones-fondo {
  position: absolute;
  right: 10vw;
  bottom: 90vh;
  height: 5vh;
  width: 15vh;
  display: flex;
  justify-content: space-between;
  border-radius: 5vw;
  border-color: var(--color2);
  border-style: solid;
  background-image: linear-gradient(to right, var(--color2) 50%, transparent 50%);
  color: var(--color1);
}

.botones-fondo-nocturno {
  background-image: linear-gradient(to left, var(--color2) 50%, transparent 50%);
}

#sol {
  font-size: 2vw;
  height: 5vh;
  width: 50%;
  text-align: center;
  border-right: solid var(--color2);
}

#sol:hover {
  color: var(--color3);
}

#luna {
  font-size: 2vw;
  height: 5vh;
  width: 50%;
  text-align: center;
  color: var(--color2);
}

#luna:hover {
  color: var(--color3);
}

.listo, .editar, .quitar {
  color: var(--color3);
  font-size: 1.5vw;
}

.listo:hover, .editar:hover, .quitar:hover {
  color: var(--color4);
}

.listo:active, .editar:active, .quitar:active {
  color: var(--color1);
}

.listo-click {
  opacity: 0.5;
}

footer {
  color: var(--color4);
  position: fixed;
  bottom: 2vh;
  font-family: 'Playpen Sans', cursive;
}
/* Animaciones configuracion */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.swal2-popup {
  font-family: 'Playpen Sans', cursive;
}

/*TODO: Media Query */
/*?Tablet*/
/**Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
  header {
    margin-top: 10vh;
    margin-bottom: 5vh;
    justify-content: center;
    font-size: 3.5vw;
  }
  
  #contenedor-superior {
    justify-content: center;
    width: 80vw;
    margin-bottom: 4vh;
  }
  
  #contenedor-tareas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  
  .tarea {
    margin-bottom: 1vh;
    border-radius: 5vw;
  }
  
  textarea {
    width: 60vw;
    font-size: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
  #agregar {
    width: 13vw;
    border-radius: 5vw;
    font-size: 2.5vw;
  }
  
  button {
    width: 5vw;
  }
  
  .botones-fondo {
    right: 10vw;
    bottom: 90vh;
    height: 4vh;
    width: 15vh;
    justify-content: space-between;
    border-radius: 5vw;
  }
  
  #sol {
    font-size: 4.5vw;
    height: 4vh;
    width: 50%;
    text-align: center;
  }
  
  #luna {
    font-size: 4.5vw;
    height: 4vh;
    width: 50%;
    text-align: center;
  }
  
  .listo, .editar, .quitar {
    font-size: 4vw;
  }
  
  footer {
    bottom: 2vh;
    font-size: 3vw;
  }

  .swal2-popup {
    font-size: 3vw;
  }
}

/**landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
  header {
    margin-top: 10vh;
    margin-bottom: 5vh;
    justify-content: center;
    font-size: 2.5vw;
  }
  
  #contenedor-superior {
    justify-content: center;
    width: 90vw;
    margin-bottom: 4vh;
  }
  
  #contenedor-tareas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  
  .tarea {
    margin-bottom: 1vh;
    border-radius: 5vw;
  }
  
  textarea {
    width: 40vw;
    font-size: 2.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
  #agregar {
    width: 10vw;
    border-radius: 5vw;
    font-size: 1.8vw;
  }
  
  button {
    width: 3vw;
  }
  
  .botones-fondo {
    right: 10vw;
    bottom: 90vh;
    height: 5vh;
    width: 15vh;
    justify-content: space-between;
    border-radius: 5vw;
  }
  
  #sol {
    font-size: 3vw;
    height: 5vh;
    width: 50%;
    text-align: center;
  }
  
  #luna {
    font-size: 3vw;
    height: 5vh;
    width: 50%;
    text-align: center;
  }
  
  .listo, .editar, .quitar {
    font-size: 2.5vw;
  }
  
  footer {
    bottom: 2vh;
    font-size: 1.8vw;
  }

  .swal2-popup {
    font-size: 2vw;
  }
}
/*?fin tablet*/

/*?movil*/
/**Portrait*/
/**Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
  header {
    margin-top: 7vh;
    margin-bottom: 4vh;
    justify-content: center;
    font-size: 4.5vw;
  }
  
  #contenedor-superior {
    justify-content: center;
    width: 90vw;
    margin-bottom: 3vh;
  }
  
  #contenedor-tareas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
  }
  
  .tarea {
    margin-bottom: 1vh;
    border-radius: 5vw;
  }
  
  textarea {
    width: 60vw;
    font-size: 5.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
  #agregar {
    width: 18vw;
    border-radius: 5vw;
    font-size: 3.5vw;
  }
  
  button {
    width: 7vw;
  }
  
  .botones-fondo {
    right: 5vw;
    bottom: 0;
    top: 3.5vh;
    height: 3vh;
    width: 10vh;
    justify-content: space-between;
    border-radius: 5vw;
  }
  
  #sol {
    font-size: 6vw;
    height: 3vh;
    width: 50%;
    text-align: center;
  }
  
  #luna {
    font-size: 6vw;
    height: 3vh;
    width: 50%;
    text-align: center;
  }
  
  .listo, .editar, .quitar {
    font-size: 5vw;
  }
  
  footer {
    bottom: 2vh;
    font-size: 4vw;
  }

  .swal2-popup {
    font-size: 4vw;
  }
}
/**landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
  header {
    margin-top: 10vh;
    margin-bottom: 5vh;
    justify-content: center;
    font-size: 2.5vw;
  }
  
  #contenedor-superior {
    justify-content: center;
    width: 90vw;
    margin-bottom: 4vh;
  }
  
  #contenedor-tareas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  
  .tarea {
    margin-bottom: 1vh;
    border-radius: 5vw;
  }
  
  textarea {
    width: 60vw;
    font-size: 2.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
  #agregar {
    width: 10vw;
    border-radius: 5vw;
    font-size: 1.8vw;
  }
  
  button {
    width: 4vw;
  }
  
  .botones-fondo {
    right: 10vw;
    bottom: 90vh;
    height: 5vh;
    width: 20vh;
    justify-content: space-between;
    border-radius: 5vw;
  }
  
  #sol {
    font-size: 2vw;
    height: 5vh;
    width: 50%;
    text-align: center;
  }
  
  #luna {
    font-size: 2vw;
    height: 5vh;
    width: 50%;
    text-align: center;
  }
  
  .listo, .editar, .quitar {
    font-size: 2.5vw;
  }
  
  footer {
    bottom: 2vh;
    font-size: 1.8vw;
  }

  .swal2-popup {
    font-size: 2vw;
  }
}
/*?fin movil*/