:root {
  --color1: #B2A4FF;
  --color2: #FFB4B4;
  --color3: #FFDEB4;
  --color4: #FDF7C3;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color1);
}

header {
  margin-top: 10vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: var(--color2);
}

main {
  display: flex;
  justify-content: center;
}

#contenedor-superior {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-bottom: 5vh;
}

#contenedor-tareas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.tarea {
  display: flex;
  margin-bottom: 1vh;
  border-radius: 5vw;
  border-color: var(--color3);
  border-style: solid;
  border-width: thin;
  background-color: var(--color2);
}

textarea {
  font-family: 'Playpen Sans', cursive;
  width: 30vw;
  font-size: 1.5vw;
  resize: none;
  padding-left: 1vw;
  padding-right: 1vw;
  color: var(--color4);
  background: none;
  border: none;
}

#name {
  background-color: white;
  color: var(--color2);
  border-style: solid;
  border-radius: 5vw;
  border-width: thin;
}

#name:focus {
  outline-color: var(--color3);
}

#name::placeholder {
  color: var(--color3);
}

#agregar {
  background-color: var(--color2);
  width: 5vw;
  border-radius: 5vw;
  color: var(--color4);
  font-weight: bold;
}

#agregar:hover {
  border-color: var(--color3);
  border-style: solid;
  border-width: thin;
}

#agregar:active {
  background-color: var(--color3);
}

button {
  font-family: 'Ubuntu', sans-serif;
  width: 2.5vw;
  margin-left: 1vw;
  background: none;
  border:none;
}

button:focus {
  outline-color: var(--color3);
}

.botones-fondo {
  position: absolute;
  right: 10vw;
  bottom: 90vh;
  height: 5vh;
  width: 15vh;
  display: flex;
  justify-content: space-between;
  border-radius: 5vw;
  border-color: var(--color2);
  border-style: solid;
  background-image: linear-gradient(to right, var(--color2) 50%, transparent 50%);
  color: var(--color1);
}

.botones-fondo-nocturno {
  background-image: linear-gradient(to left, var(--color2) 50%, transparent 50%);
}

#sol {
  font-size: 2vw;
  height: 5vh;
  width: 50%;
  text-align: center;
  border-right: solid var(--color2);
}

#sol:hover {
  color: var(--color3);
}

#luna {
  font-size: 2vw;
  height: 5vh;
  width: 50%;
  text-align: center;
  color: var(--color2);
}

#luna:hover {
  color: var(--color3);
}

.listo, .editar, .quitar {
  color: var(--color3);
  font-size: 1.5vw;
}

.listo:hover, .editar:hover, .quitar:hover {
  color: var(--color4);
}

.listo:active, .editar:active, .quitar:active {
  color: var(--color1);
}

.listo-click {
  opacity: 0.5;
}

/* Animaciones configuracion */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.swal2-popup {
  font-family: 'Playpen Sans', cursive;
}